#set($variable = ${className})
#set($firstLetter = ${variable.substring(0, 1).toLowerCase()})
#set($restOfString = ${variable.substring(1)})
#set($variableName = "${firstLetter}${restOfString}")

import {Routes} from '@angular/router';
import {AuthGuard} from "@services/security/auth-guard";
import {${className}ListComponent} from "@views/${composant.replace(".", "/")}/${classNameHyphens}/list/${classNameHyphens}-list.component";
import {ConfirmBeforeDeactivateGuard} from "@core/confirm-before-deactivate-guard";
import {${className}FormComponent} from "@views/${composant.replace(".", "/")}/${classNameHyphens}/form/${classNameHyphens}-form.component";
import {${className}Resolver} from "@views/${composant.replace(".", "/")}/${classNameHyphens}/${classNameHyphens}.resolver";

export const ${variableName}Routes: Routes = [
    {
        path: '${variableName}', component: ${className}ListComponent,
        canActivate: [AuthGuard],
    },
    {
        path: '${variableName}/new', component: ${className}FormComponent,
        data: {breadcrumb: 'Nouveau'},
        canActivate: [AuthGuard],
        canDeactivate: [ConfirmBeforeDeactivateGuard]
    },
    {
        path: '${variableName}/:${variableName}Id',
        data: {breadcrumb: 'Détail'},
        component: ${className}FormComponent,
        resolve: {${variableName}: ${className}Resolver},
        canActivate: [AuthGuard],
        canDeactivate: [ConfirmBeforeDeactivateGuard]
    }
];
